// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - VARIABLES + MIXINS



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - COLORS

@black: #000;

@white: #fff;



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - SHORTCUTS

.border-radius(@radius: 5px) {
-webkit-border-radius: @radius;
   -moz-border-radius: @radius;
	 -o-border-radius: @radius;
		border-radius: @radius;
}

.box-shadow (@shadow1, @shadow2: transparent 0 0 0 ) {
    -moz-box-shadow: @shadow1, @shadow2;
    -webkit-box-shadow: @shadow1, @shadow2;
    box-shadow: @shadow1, @shadow2;
}

.transition(@transition) {
	-webkit-transition: @transition;
	   -moz-transition: @transition;
		 -o-transition: @transition;
			transition: @transition;
}

.multi-transition(@transition1, @transition2) {
	-webkit-transition: @transition1, @transition2;
	   -moz-transition: @transition1, @transition2;
		 -o-transition: @transition1, @transition2;
			transition: @transition1, @transition2;
}

.bg-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.backface-visibility(@visibility){
	-webkit-backface-visibility: @visibility;
	   -moz-backface-visibility: @visibility;
	    -ms-backface-visibility: @visibility;
	        backface-visibility: @visibility;
}